<div class="todo-layout">
    <div class="todo-container mb-5">
        <div class="d-flex">
            <div class="flex-grow-1">
                <input type="text"
                       class="form-control"
                       placeholder="Enter item description"
                       [(ngModel)]="currentTodoItemDescription" />
                <span class="text-danger"
                      *ngIf="showErrorMessage">Item already Exists</span>
            </div>
            <div class="pl-3">
                <button type="button"
                        [disabled]="!currentTodoItemDescription"
                        class="btn btn-primary"
                        (click)="addItem()">
                    Add Item
                </button>
            </div>
        </div>
    </div>

    <div class="todo-list-container"
         [style.height.px]="listContainerHeight">
        <div class="todo-list-header">
            <div class="row">
                <div class="col-4 m-auto">
                    Todo Items <span *ngIf="todoItems.length > 0"> ({{todoItems.length}})</span>
                </div>
                <div class="col-8">
                    <button type="button"
                            [disabled]="todoItems.length === 0"
                            class="btn btn-danger float-right"
                            (click)="removeAllTodoItems()">
                        Clear All Items
                    </button>
                </div>
            </div>
        </div>
        <div class="no-item-container"
             *ngIf="todoItems.length === 0">
            <div class="alert alert-info">
                No Items added to the Todo list.
            </div>
        </div>
        <div class="todo-list-items"
             *ngFor="let todoItem of todoItems; let index = index">
            <div class="row">
                <div class="col-10">
                    <input type="checkbox"
                           class="todo-item-checkbox"
                           [(ngModel)]="todoItem.isChecked" />
                    <span class="ml-2 item-unchecked"
                          *ngIf="!todoItem.isChecked">
                        {{todoItem.itemDescription}}
                    </span>
                    <span class="ml-2 item-checked"
                          *ngIf="todoItem.isChecked">
                        {{todoItem.itemDescription}}
                    </span>
                </div>
                <div class="col-2">
                    <button type="button"
                            class="close"
                            [ngbTooltip]="'Remove Item'"
                            container="body"
                            placement="left"
                            (click)="removeItem(index)"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>